div.history {
    margin: 10px 100px;
    color: #416F1F;
}

div.preview {
    margin: 10px 0;
    color: #925210;
}

div.latestReply {
    margin: 10px 100px;
    color: #FF2C3C;
}

div.body {
    margin: 10px 100px;
}

div.valid {
    color: #27C233;
}
div.invalid {
    color: #FF2C3C;
}

div.saveArea {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

hr.fancy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
}