div.sysUtt {
    color: #186e0c;
}
div.usrUtt {
    color: #d00512;
}

div.query {
    color: #d97509;
}
span.query {
    color: #050000;
}
span.foot_note {
    font-size: 10px;
    color: #d97509;
}

div.preview {
    margin: 10px 0;
    color: #925210;
}

div.history {
    margin: 10px 50px;
    color: #416F1F;
}


div.latestReply {
    margin: 10px 50px;
    color: #d00512;
}

div.body {
    margin: 10px 100px;
}

div.valid {
    color: #27C233;
}
div.invalid {
    color: #FF2C3C;
}

div.saveArea {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

hr.fancy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
}