<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log Processor</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css ">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--js-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-selectize2/dist/angular-selectize.js"></script>

    <!--[if lt IE 9]>`
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div class="container-fluid" ng-controller="dialogViewController">
    <div class="col-md-12">
        <div class="text-center">
            <a href="history.html" class="btn btn-lg">History</a>
            <a href="nlu.html" class="btn btn-lg">NLU</a>
            <a href="home.html" class="btn btn-lg">End-to-End</a>
        </div>
        <div class="text-center">
            <selectize config="fileOptions" options=listFiles ng-model="selectedFile"></selectize>
        </div>
        <br>
        <div class="text-center">
            <h3>{{fileData.title}}</h3>
            <h6 ng-show="fileData.from_label">Already Labelled</h6>
        </div>
        <div class="text-center">
            <h5>{{fileData.profile}}</h5>
        </div>
        <br>
        <div class=body>
            <!--Verbal History-->
            <h4 class="text-center">Dialog Context {{$index+1}}</h4>
            <div class="history" ng-repeat="h in turns[turns.length-1].history track by $index">
                <div class=sysUtt ng-if="$index % 2 == 0"> <p>{{h}}</p> </div>
                <div class=usrUtt ng-if="$index % 2 != 0"> <p>{{h}}</p> </div>
            </div>
            <div class="col-md-12 text-center" ng-show="loadingFileData">
                <p class="h4">Loading...</p>
            </div>
        </div>
    </div>
</div>
<!--<script src="bower_components/requirejs/require.js" data-main="js/main.js"></script>-->
<script src="js/app.js"></script>
</body>

</html>
