<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log Processor</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css ">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--js-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-selectize2/dist/angular-selectize.js"></script>

    <!--[if lt IE 9]>`
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div class="container-fluid" ng-controller="viewController">
    <div class="col-md-12">
        <div class="text-center">
            <selectize config="{valueField: 'name', labelField: 'name', placeholder: 'Pick file', maxItems: 1}"
                       options=listFiles ng-model="selectedFile"></selectize>
        </div>
        <br>
        <div class="text-center">
            <h4>{{fileData.title}}</h4>
        </div>
        <br>
        <div class=body>
            <div ng-show="!loadingFileData" ng-repeat="turn in turns track by $index">
                <!--Verbal History-->
                <h5 class="text-center">Dialog Context {{$index}}</h5>
                <div class="history" ng-repeat="h in turn.history track by $index">
                    <div class=history ng-if="$index < turn.history.length-1"> <p>{{h}}</p> </div>
                    <div class=latestReply ng-if="$index == turn.history.length-1"> <p>{{h}}</p> </div>
                </div>
                <br>
                <!--Belief States-->
                <div ng-show="options.length > 1"  ng-repeat="(c, options) in turn.mentions">
                    <div class="row">
                        <div class="col-md-2">Slot: {{c}}</div>
                        <div class=col-md-5>
                            <selectize config="beliefOptions" options=options ng-model="turn.belief[c]">c</selectize>
                        </div>
                    </div>
                </div>
                <br>
                <!--Terminal Actions-->
                <h5>Chosen the next response to the above dialog context</h5>
                <selectize config="actOptions" options=terminals ng-model="turn.actions"></selectize>
                <div class=valid ng-if="turn.valid"> The chosen actions are valid! </div>
                <div class=invalid ng-if="!turn.valid"> Error detected! </div>
                <hr>
            </div>
            <div>
                <div class="saveArea">
                    <input type="button" class="form-control btn-success" value="Save" ng-click="saveData()" ng-disabled = "!validateActions()">
                </div>
            </div>
            <div class="col-md-12 text-center" ng-show="loadingFileData">
                <p class="h4">Loading...</p>
            </div>
        </div>
    </div>
</div>
<!--<script src="bower_components/requirejs/require.js" data-main="js/main.js"></script>-->
<script src="js/app.js"></script>
</body>

</html>
