<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log Processor</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css ">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--js-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-selectize2/dist/angular-selectize.js"></script>

    <!--[if lt IE 9]>`
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div class="container-fluid" ng-controller="nluViewController">
    <div class="col-md-12">
        <div class="text-center">
            <a href="history.html" class="btn btn-lg">History</a>
            <a href="nlu.html" class="btn btn-lg">NLU</a>
            <a href="home.html" class="btn btn-lg">End-to-End</a>
        </div>
        <div class="text-center">
            <selectize config="batchOptions" options=listBatches ng-model="selectedBatch"></selectize>
        </div>
        <br>
        <div class="text-center">
            <h4>Total number of utterance {{data_size}}</h4>
            <h4>Already labelled {{label_data_size}}</h4>
        </div>
        <br>
        <div class=body>
            <div ng-show="!loadingFileData" ng-repeat="utt in utterances track by $index">
                <!--Query-->
                <div class="query">
                    <h4>User Query: <span class="query">{{utt.query}}</span> </h4>
                </div>
                <!--Tags-->
                <div class="col-md-6">
                    <h5>Select all valid speech acts:</h5>
                    <selectize config="tagOptions" options=intent_tags ng-model="utt.intents"></selectize>
                </div>
                <div class="col-md-6">
                    <h5>Select all domains:</h5>
                    <selectize config="tagOptions" options=domain_tags ng-model="utt.domains"></selectize>
                </div>
                <div class="col-md-12 text-center">
                    <br>
                </div>
            </div>
            <div>
                <div class="saveArea">
                    <input type="button" class="form-control btn-success" value="Save" ng-click="saveData()">
                </div>
            </div>
            <div class="col-md-12 text-center" ng-show="loadingFileData">
                <p class="h4">Loading...</p>
            </div>
        </div>
    </div>
</div>
<!--<script src="bower_components/requirejs/require.js" data-main="js/main.js"></script>-->
<script src="js/app.js"></script>
</body>

</html>
